---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

.ffotter {
   position:fixed;
   left: 0;
   bottom: 0px;
   width: 100%;
   text-align: center;
   font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
   background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
   border-bottom: solid 1px #275da1;
}
