---
---

@import "{{ site.theme }}";

.ffotter {
   position:fixed;
   left: 0;
   bottom: 0px;
   width: 100%;
   text-align: center;
   padding-right: 0.3em;
   margin-left: -0.9em;
   color: #9ddcff;
   content: "/";
}
